html,
body {
  height: 100%;
  margin: 0;
}

body {
  align-items: center;
  display: flex;
  justify-content: center;

  background: linear-gradient(to bottom right, #444444, #009a5b);
  font-size: 1.5rem;
}

main {
  color: #fff6d5;
  font-family: sans-serif;
  text-align: center;
}

.logo {
  height: 20em;
}

.heart:after {
  content: "❤️";

  font-size: 1.75em;
}

h1 + .subtitle {
  display: block;
  margin-top: -1em;
}

.square {
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.board {
  display: flex;
  width: 640px;
  height: 640px;
  flex-wrap: wrap;
}

main {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 2em;
}